# Module paraphernalia
assets/
/resource-state-metrics

# Generated intermediaries
tests/golden/metrics.txt

# `pprof` artefacts
./*.ps

# `bench` artefacts
./wget-log*

branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
